<div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
  
    <div class="card-deck mt-2">
      <div class="card">
        <div class="card-body">
          <div class="col-12">
            <!-- <canvas id="canvas">{{ mychart }}</canvas> -->
            <div class="row">
                <label for="">จำนวนเแรงงานทั้งหมด</label>
                <p class="pl-3">89 คน</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  
    <div class="card-deck mt-2">
      <div class="card">
        <h5 class="card-header ">สัญชาติ</h5>
        <div class="card-body">
          <div class="col-12">
            <canvas id="canvas">{{ myChart }}</canvas>
          </div>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header ">เพศ</h5>
        <div class="card-body">
            <canvas id="canvas">{{ myChart }}</canvas>
          <h4 class="card-title">Title</h4>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>
  
    <div class="card-deck mt-2">
      <div class="card">
        <h5 class="card-header ">จำนวนแรงงานในแต่ละปี</h5>
        <div class="card-body">
          <div class="col-12">
            <!-- <canvas id="canvas">{{ mychart }}</canvas> -->
          </div>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header ">จำนวนพนักงานแต่ละโครงการ</h5>
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>


  
      <div class="card-deck mt-2">
          <div class="card">
            <h5 class="card-header ">จำนวนเด็ก 55 คน</h5>
            <div class="card-body">
              <div class="col-12">
                <canvas id="canvas">{{ myChart }}</canvas>
              </div>
            </div>
          </div>
    
          <div class="card">
            <h5 class="card-header ">เพศ</h5>
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">Text</p>
            </div>
          </div>
        </div>
      
        <div class="card-deck mt-2">
          <div class="card">
            <h5 class="card-header ">ระดับการศึกษา</h5>
            <div class="card-body">
              <div class="col-12">
                <!-- <canvas id="canvas">{{ mychart }}</canvas> -->
              </div>
            </div>
          </div>
    
          <div class="card">
            <h5 class="card-header ">ได้รับวัคซีน</h5>
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">Text</p>
            </div>
          </div>
        </div>

  </div>