<h3 align = 'left'>ข้อมูลผู้ใช้แรงงาน</h3>
<div class="row">
    <div class="col-sm-3 b">
                            
  <p>คำนำหน้า</p>
  <form>
    <label class="radio-inline">
      <input type="radio" name="คำนำหน้า"> นาย ◄
    </label>
    <label class="radio-inline">
      <input type="radio" name="คำนำหน้า"> นาง ◄
    </label>
    <label class="radio-inline">
      <input type="radio" name="คำนำหน้า"> นางสาว
    </label>
  </form>

 <form role="form-group">
    <div class="form-group float-label-control">
        <label for="">ชื่อ</label>
        <input type="์Name" class="form-control" placeholder="ชื่อ">
        <div class="mt-3">  
        <input type="์LName" class="form-control" placeholder="นามสกุล"></div>
        <div class="mt-3">
            <label for="">เบอร์โทร</label>
            <p> <input type="phone" class="form-control" placeholder="EX.081-2345678"></p> 
            <label for="">เลขประจำตัวผู้ใช้แรงงาน</label>
            <p> <input type="ID" class="form-control" placeholder="กรอกเลขประจำตัว"></p> 
            <label for="">• สัญชาติ ►</label>
            <select name="national">
                <option value="" selected>-เลือกสัญชาติ-</option>
                <option value="ไทย">ไทย</option>
                <option value="พม่า">พม่า </option>
                <option value="กัมพูชา">กัมพูชา </option>
                <option value="อื่นๆ">อื่นๆ(ระบุ) </option>
              
              </select><br/>
              <label for="">ระบุสัญชาติ ►</label>
              <label for=""> <input type="otherN" class="form-control" placeholder="อื่นๆ(เลือกแล้วไม่ต้องกรอก)"></label>
              <label for="">• ประเภทแรงงาน ►</label>
            <select name="type">
                <option value="" selected>-เลือกประเภท-</option>
                <option value="ปูน">ช่างปูน</option>
                <option value="ไม้">ช่างไม้ </option>
                <option value="ไฟ">ช่างไฟ </option>
                <option value="อื่นๆ">อื่นๆ(ระบุ) </option>
              
              </select><br/>
              <label for="">ระบุประเภท ►</label>
              <label for=""> <input type="otherN" class="form-control" placeholder="อื่นๆ(เลือกแล้วไม่ต้องกรอก)"></label>
              <p>• มีผู้ติดตามหรือไม่?</p>
  <form>
    <label class="radio-inline">
      <input type="radio" name="ผู้ติดตาม">&nbsp;มี  &nbsp;
    </label>
    <label class="radio-inline">
      <input type="radio" name="ผู้ติดตาม">&nbsp;ไม่มี&nbsp;
    </label>
  </form>

 
                                
