<h2>
  ข้อมูลแรงงาน
</h2>
<div class="mt-3 b">
                            
  <p>คำนำหน้า</p>
  <form>
    <label class="radio-inline">
      <input type="radio" name="คำนำหน้า"> นาย ◄
    </label>
    <label class="radio-inline">
      <input type="radio" name="คำนำหน้า"> นาง ◄
    </label>
    <label class="radio-inline">
      <input type="radio" name="คำนำหน้า"> นางสาว
    </label>
  </form>
 
</div>
<div>
  <p>
<input type="์Name" class="form-control" placeholder="ชื่อ"></p> 
                </div>  
                <div class="mt-3">
                        <p> <input type="์LName" class="form-control" placeholder="นามสกุล"></p> 
                        </div>  
                        <div class="mt-3">
                            <p>เบอร์</p></div>
                            
                                <p> <input type="phone" class="form-control" placeholder="EX.081-2345678"></p> 
                                
