<div class="container">
<div class="row">

<label for="">รหัส</label>
<p class="pl-3">tee</p>

</div>
<div class="row">

    <label for="">ชื่อโครงการ(ไทย)</label>
    <p class="pl-3">tee</p>
    
    </div>
    <div class="row">

        <label for="">ชื่อโครงการ(อังกฤษ)</label>
        <p class="pl-3">tee</p>
        
        </div>
        <div class="row">

            <label for="">จังหวัด</label>
            <p class="pl-3">tee</p>
            
            </div>
            <div class="row">

                <label for="">ระยะเวลาดำเนินงาน</label>
                <p class="pl-3">tee&nbsp;</p><label for="">ถึง</label><p class="pl-3">tee</p>
                
                </div>
                <div class="row">

                    <label for="">-ผู้ประสานงานแสนสิริ-</label>
                    <p class="pl-3">tee</p>  <label for="">&nbsp;นามสกุล</label> <p class="pl-3">tee</p>
                    
                    </div>
                    <div class="row">

                        <label for="">เบอร์</label>
                        <p class="pl-3">tee</p>
                        
                        </div>
                        <div class="row">

                            <label for="">อีเมลล์</label>
                            <p class="pl-3">tee</p>
                            
                            </div>
                            <div class="row">

                                <label for="">-ผู้รับเหมา-</label>
                                                               
                                </div>
                                <div class="row">

                                    <label for="">ชื่อผู้รับเหมา</label>
                                    <p class="pl-3">tee</p>
                                    
                                    </div>
                                    <div class="row">

                                        <label for="">-ชื่อหัวหน้าคนงาน-</label>
                                        <p class="pl-3">tee</p> <label for="">&nbsp;นามสกุล</label> <p class="pl-3">tee</p>
                                        
                                        </div>
                                        <div class="row">

                                            <label for="">เบอร์</label>
                                            <p class="pl-3">tee</p>
                                            
                                            </div>
                                            <div class="row">
                    
                                                <label for="">อีเมลล์</label>
                                                <p class="pl-3">tee</p>
                                                
                                                </div>
                                                <div class="row">

                                                    <label for="">-ข้อมูลที่พักคนงาน-</label>
                                                                                   
                                                    </div>
                                                    

                                                          <div class="row">

                                                              <label for="">ที่อยู่</label>
                                                              <p class="pl-3">tee</p>

                                                                                                                         
                                                              </div>
                                                              <div class="row">

                                                                  <label for="">มีโครงการ The Good Space</label>
                                                                  <p class="pl-3">(มี)(ไม่มี)</p>
                                                                  
                                                                  </div>
                                                            


</div>