<button type="button" class="btn btn-default pull-right" [routerLink]="['/main/employee/create']" > + สร้างรายชื่อ</button>
<div class="table-responsive">
    <table class="table">
      
        <thead>
            <tr>
              <th>#</th>
              <th>ชื่อ</th>
              <th>นามสกุล</th>
              <th>สัญชาติ</th>
              <th>บุตร</th>
              <th>อายุบุตร</th>
              <th>ระดับการศึกษา</th>
              <th>โครงการ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Anna</td>
              <td>Pitt</td>
              <td>Thai</td>
              <td>1</td>
              <td>1</td>
              <td>No</td>
              <td>Project name</td>
              <td><button>ลบ</button> <button>ดู</button></td>
              <td><button>ดู</button></td>
            </tr>
          </tbody>

    </table>
  </div>
