<app-navbar></app-navbar>
<div class="row">
    <nav class="col-md-2 d-none d-md-block bg-dark sidebar p-0 pl-2">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item text-center">
          <a class="nav-link  text-white" [routerLink]="['/main/dashboard']" [routerLinkActive]="['bg-warning']">
            <i class="fa fa-tachometer fa-2x"></i>
            <p class="m-0">Dashboard</p>
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link  text-white" [routerLink]="['/main/employee']" [routerLinkActive]="['bg-warning']">
            <i class="fa fa-users fa-2x"></i>
            <p class="m-0">Employee</p>
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link text-white" href="#" [routerLink]="['/main/project']" [routerLinkActive]="['active']">
            <i class="fa fa-building fa-2x"></i>
            <p class="m-0">Project</p>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="col-12 col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>